@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply font-testo; 
  color: var(--background);
  background: var(--foreground); 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.clip-path-bottom {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 90%);  
  overflow: hidden; 
}